[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
forks = 10
timeout = 30
gathering = smart

[privilege_escalation]
become_method = sudo

[ssh_connection]
pipelining = True
