ETCD_NAME={{ patroni_node_name | default(inventory_hostname) }}
ETCD_DATA_DIR={{ etcd_data_dir }}
ETCD_LISTEN_PEER_URLS=https://{{ ansible_host }}:{{ etcd_peer_port }}
ETCD_LISTEN_CLIENT_URLS=https://{{ ansible_host }}:{{ etcd_client_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ ansible_host }}:{{ etcd_peer_port }}
ETCD_ADVERTISE_CLIENT_URLS=https://{{ ansible_host }}:{{ etcd_client_port }}
ETCD_INITIAL_CLUSTER={% for host in groups['postgres'] %}{{ hostvars[host].patroni_node_name | default(host) }}=https://{{ hostvars[host].ansible_host }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{% endfor %}

ETCD_INITIAL_CLUSTER_TOKEN=keycloak-etcd
ETCD_INITIAL_CLUSTER_STATE={{ etcd_cluster_state }}
ETCD_CERT_FILE={{ etcd_tls_dir }}/server.crt
ETCD_KEY_FILE={{ etcd_tls_dir }}/server.key
ETCD_TRUSTED_CA_FILE={{ etcd_tls_dir }}/ca.crt
ETCD_PEER_CERT_FILE={{ etcd_tls_dir }}/server.crt
ETCD_PEER_KEY_FILE={{ etcd_tls_dir }}/server.key
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_tls_dir }}/ca.crt
ETCD_CLIENT_CERT_AUTH=false
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_CIPHER_SUITES=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
