JAVA_HOME=/opt/java
KC_DB_USERNAME={{ keycloak_db_user | to_json }}
KC_DB_PASSWORD={{ keycloak_db_password | to_json }}
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_username | to_json }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password | to_json }}
KC_SPI_CACHE_EMBEDDED__DEFAULT__NODE_NAME={{ inventory_hostname | to_json }}
KC_SPI_CACHE_EMBEDDED__DEFAULT__MACHINE_NAME={{ inventory_hostname | to_json }}
KC_SPI_CACHE_EMBEDDED__DEFAULT__SITE_NAME={{ keycloak_site | to_json }}
JAVA_OPTS_APPEND={{ keycloak_java_opts | to_json }}
